/*Logo*/
img{
	position: relative;
	top: 0
	right: 0;
	height: 50%
	width: 50%;
	border: none;
}
/*Body*/
body {
  background-color: #FFEEB6;
  color: #EB534B;
  font-family: 'Antonio', sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.65em;
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 10px;
}

/* Heading Styles */
h1 {
  font-size: 75px;
  color: #EB534B;
  font-family: 'Antonio', sans-serif;;
  font-style: italic;
  text-align: center;
}

li{color: #EB534B
	font-family: 'Antonio', sans-serif;
	font-size: 75
	display: inline-block;
	float: center

}

a {
	text-decoration: none;
	color: #EB534B
}
nav ul{
	text-align: center;
	position: center;
	list-style-type: none;
	padding-top: 5rem

}

nav li{
	text-align: center;
	position: center;
	display: inline-block;
	padding-right: 2rem;
	float: center

}

section{
	text-align: center;
}

form{
	align-items: center;
	position: bottom;
	float: center 
	align-content: center;
	padding-top: 75rem;
}

input{
	align-items: center;
	border: 0;
  border-radius: 6px;
  color: #FFEEB6;
  font-size: 18px;
  margin: 15px 4%;
  outline: 1;
  padding: 16px 0;
  text-indent: 20px;
  width: auto;  
}

footer {
  background-color: #FFEEB6;
  color: #855C6B;
  font-family: 'Antonio', sans-serif;;
  font-size:25;
  font-weight: 200;
  line-height: 1em;
  margin-left: auto;
  max-width: auto
  padding: 40px 10px;
}

@media screen and(max-width: 480px) {
	h1{
		font-size: 30px;
	}
	img{ 
		max-width: 100%;
	 }
	nav-ul{
		float: none;
		width: 100%; 

	}

	footer{
		float: none;
		width: 100;

	}
}
